<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm navbar-flex">
    <% if user_signed_in? %>

      <div class="burger burger-fixed-top">
        <% if action_name == "show" %>
          <div class="story-title">
            <%= @story.title %>
          </div>
        <% end %>

        <div class="burger-item navbar-item">
          <div class="dropdown">
            <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li><%= link_to "Dashboard", dashboard_path %></li>
              <li><%= link_to "Log out", destroy_user_session_path, method: :delete%></li>
            </ul>
          </div>
        </div>
      </div>


    <% else %>
      <!-- Login link (when logged out) -->

      <div class="burger burger-fixed-top">
        <% if action_name == "show" %>
          <div class="story-title">
            <%= @story.title %>
          </div>
        <% end %>

        <div class="burger-item navbar-item">
          <div class="dropdown">
            <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li><%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>

  </div>

  <div class="title-home navbar-item">
    <h2>Karen's Blog</h2>
  </div>
    <!-- Links when logged in -->
  <div class="navbar-right navbar-item">
    <%= link_to "Contact", "#", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "About", "#", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Posts", "#", class: "navbar-wagon-item navbar-wagon-link" %>

    <!-- Search Bar -->
    <i class="fas fa-search"></i>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>

